@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@import "variables/variables.scss";

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
    padding: 10vw 12px;
    display: grid;
}

.expanding-list { 
    &-holder {
        width: 100%;
    }
    background-color: $backgroundColor;

    ul {
        position: relative;
        list-style-type: none;
        padding-left: $ulLeftPadding;
        margin: $ulMarginBottom 0 0 0;
        width: 100%;
        transition: max-height .8s ease-in-out;
        max-height: 0;
        overflow: hidden;

        li {
            position: relative;
        }
    }

    &__expander {
        display: flex;
        position: relative;
        gap: $expanderGapBetweenIconAndTitle;

        &-icon {
            position: relative;
            top: $iconTop;
            background-size: 100% 100%;
            background-position: center;
            width: $iconSize;
            height: $iconSize;
            cursor: pointer;
        }

        &-title {
            position: relative;
        }

        &.radio > &-icon {
            background-image: url("../images/radio-no-exp.svg");
        }
        &.radio.expanded > &-icon {
            background-image: url("../images/radio-exp.svg");
        }
        &.checkbox > &-icon {
            background-image: url("../images/checkbox-no-exp.svg")
        }
        &.checkbox.expanded > &-icon {
            background-image: url("../images/checkbox-exp.svg")
        }
    }

    .text-block {
        padding: 0 $textBlockPaddingLeftRightBottom $textBlockPaddingLeftRightBottom $textBlockPaddingLeftRightBottom;
        font-size: $textFontSize;

        span {
            display: block;
        }
    }


    &__no-more-expand {
        font-weight: 300;

        &:nth-child(odd) {
            background-color: lighten(lightgray, 10%);
        }

    }
}

/* LINES */

.expanding-list {
    ul {
        //ul vertival line
        &::before {
            content: "";
            width: $lineWidth;
            height: $verticalLineLength;
            background-color: black;
            position: absolute;
            left: $verticalLineLeft;
            top: $verticalLineTop;
        }
    
        //li horizontal line
        li::before {
            content: "";
            width: $horizontalLineLength;
            height: $lineWidth;
            background-color: black;
            position: absolute;
            left: $horizontalLineLeft;
            top: $horizontalLineTop;
        }
    
        //this line is to cover ul line which is a bit too long
        li:last-child::after {
            content: "";
            width: $lineWidth;
            height: calc(100% - #{$textLineHeight});
            background-color: $backgroundColor;
            position: absolute;
            left: $horizontalLineLeft;
            top: $horizontalLineTop + $lineWidth;
        }
    }

    &__expander {
        //this line extends ul line because ul line doesn't know how many rows of text are.
        .expanded &-title::before {
            content: "";
            width: $lineWidth;
            height: $titleHelperLineHeight;
            background-color: black;
            position: absolute;
            left: $horizontalLineLeft;
            top: $titleHelperLineTop;
        }
    }
}